/* ------------
Main Css
------------ */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,400&family=Poppins:wght@500;600;700&family=Roboto:wght@500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    
}
main{
    display: flex;
    justify-content: center;
}

.header-container{
    display: flex;
    justify-content: center;
}
.sec-conntainer{
    margin: 3em 0;
    width: 85%;
    /* display: flex;
    justify-content: center; */

}

/*----------- 
animaton css 
------------- */
@keyframes hero-anim {
    0% {
        transform: translate(0px);
    }
    50% {
        transform: translate(-100px) scale(1.2);
        
    }
    100% {
        transform: translate(0px);
    }
}

/* -----------
heder section css
--------------  */
.header-main{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    justify-items: center;
    background-color: black;
    width: 80%;
    justify-items: end;
    padding: 3.313em ;
    border-radius: 20px;
    
    

}
.heder-tex{
    color: white;
   
   
}
.heder-tex h1{
    font-size: 3.1em;
    font-weight: 700;
}
.heder-tex p, .blog-item-info p{
    text-align: start;
}
.heder-tex button{
    background-color: #DD0000;
    padding: 1em  1.7em;
    color: white;
    border-radius: 5px;
}
.hero {
  animation: hero-anim 5s  infinite;
    
}


/*-------------------
 Match Blog Sectin Css
 --------------------*/
 .blog-main,.flag-main{
    display: flex;
    justify-content: center;
    align-items: flex-start
 }
 .buton-box{
     background-color: black;
     display: flex;
     flex-direction: column;
     padding: 1em;
    max-height: 200px;
    
     border-radius: 10px;
     
 }
 .blog-box, .flag-box{
     display: grid;
     grid-template-columns: repeat(3,1fr);
     column-gap: 1em;
     row-gap: 1em;
     width: 80%;
     margin-left: 2em;
    
     
     
 }
 .button-item{
     margin-top:0.9em;
     background-color: white;
     padding: 1em 1.5em;
     border-radius: 10px;
 }
 .button-item:target{
    background-color:red;
 }
 .button-item a{
     text-decoration: none;
     color: black;
     font-weight: 500;
 }


.blog-item{
    border: 1px solid lightgrey;
}
.blog-item img{
    width: 100%;
}
.blog-item-info{
    margin: 1em;

}
.blog-item-info button{
    background-color:white;
    border: 1px solid #161616;
    padding: 0.5em 2em;
}
.blog-item-info p{
    font-size: 18px;
    font-weight: 500;
}
.blog-item-icon{
    margin-right: 2em;
}
.tab-btn{
    display: none;
}
/* .flag-box{
    align-items: center;
    justify-items: center
} */
.flag-box-item{
    border: 1px solid lightgrey;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.flag-item{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
   
}
.flag-item img{
    margin: 0px 1em;
}
.flag-item-info h3,p{
    text-align: center;
}


/*----------------
 Footer secton css
 ----------------*/
footer{
    background-color: black;
    display: flex;
    justify-content: center;
  
}
.footer-containr{
    width: 80%;
}
.footer-title{
   margin-top: 50px;
    color: whitesmoke;
    text-align: center;
    border-bottom:1px solid whitesmoke;
}
.footer-menu {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin: 2em 0;
}
.footer-menu li{
    list-style: none;
}
.footer-menu a{
    text-decoration: none;
    color: whitesmoke;
}
.footer-icon{
    display: flex;
    justify-content: center;
    
}
.footer-icon .fa-brands{
    color: whitesmoke;
    margin: 1em .5em;
    font-size: 2em;
    
}

           /*------------------------------------------- 
                         Responsive  Css
              -------------------------------------  */

/*-----------
 Mobile Responsive
--------------- */
@media only screen and (max-width:576px) {
    
    .header-main,.blog-box{
        width: 100%;
        grid-template-columns: repeat(1,1fr);
        padding: 20px;
        margin: 0px;
    }
    .heder-tex, .heder-tex p{
        text-align: center;
    }
    .heder-tex h1{
        font-size: 2em;
    }
  
    .hero {
    display: block;
    margin: auto;
    animation: none;
    margin-top: 2em;
 }


 .blog-main{
     flex-direction: column;
 }
 .blog-main{
    align-items: center;
 }
 .footer-menu{
     flex-direction: column;
     align-items: center;
 }   
   
    
}

/*-----------
 Tab Responsive
--------------- */
@media only screen and (min-width:577px) and (max-width:922px) {
   
    .header-main,.blog-box{
        width: 100%;
        grid-template-columns: repeat(2,1fr);
        padding: 30px;
        margin: 0px;
    }
    .heder-tex h1{
        font-size: 3em;
    }
    
   .hero {
    display: block;
    margin: auto;
    animation: none;
    margin-top: 2em;
 }
 .blog-main{
     flex-direction: column;
     align-items: center;
 }
 .buton-box{
     flex-direction: row;
     row-gap: 10px;
     background-color: #fff;
     width: 80%;
     justify-content: space-evenly;
 }

 .tab-btn{
    display: block;
    border: none;
    color: white;
    background-color: #DD0000;
    padding: 15px 20px;
    border-radius: 10px;
}


}